In [8]:
from tabulate import tabulate
student={
    1:{'stdid': 'sid101', 'sidname': 'ashish kumar', 'standard': '10th', 'age': 15, 'hindi': 67, 'english': 89, 'math': 87, 'science': 89, 'computer': 90, 'total': 422},
    2:{'stdid': 'sid102', 'sidname': 'abhishek kumar', 'standard': '10th', 'age': 14, 'hindi': 85, 'english': 45, 'math': 48, 'science': 90, 'computer': 45, 'total': 313},
    3:{'stdid': 'sid103', 'sidname': 'aman', 'standard': '10th', 'age': 15, 'hindi': 23, 'english': 56, 'math': 78, 'science': 78, 'computer': 67, 'total': 302},
    4:{'stdid': 'sid104', 'sidname': 'rahul', 'standard': '10th', 'age': 14, 'hindi': 45, 'english': 67, 'math': 45, 'science': 45, 'computer': 56, 'total': 258},
    5:{'stdid': 'sid105', 'sidname': 'ruby', 'standard': '10th', 'age': 13, 'hindi': 89, 'english': 67, 'math': 89, 'science': 93, 'computer': 65, 'total': 403},
    6:{'stdid': 'sid106', 'sidname': 'suman', 'standard': '10th', 'age': 13, 'hindi': 90, 'english': 46, 'math': 67, 'science': 67, 'computer': 67, 'total': 337},
    7:{'stdid': 'sid107', 'sidname': 'saurabh', 'standard': '10th', 'age': 15, 'hindi': 45, 'english': 23, 'math': 34, 'science': 45, 'computer': 34, 'total': 181},
    8:{'stdid': 'sid108', 'sidname': 'sumit', 'standard': '10th', 'age': 14, 'hindi': 23, 'english': 45, 'math': 67, 'science': 78, 'computer': 90, 'total': 303},
    9:{'stdid': 'sid109', 'sidname': 'kamlesh', 'standard': '10th', 'age': 15, 'hindi': 45, 'english': 56, 'math': 78, 'science': 99, 'computer': 67, 'total': 345},
    10:{'stdid': 'sid110', 'sidname': 'rohan', 'standard': '10th', 'age': 15, 'hindi': 34, 'english': 12, 'math': 24, 'science': 45, 'computer': 56, 'total': 171}
}
# print(student)
student_tabulate = tabulate(student.values(),headers={'stdid': 'stdid', 'sidname': 'stdname', 'standard': 'standard', 'age': 'age', 'hindi': 'hindi', 'english': 'english', 'math': 'math', 'science': 'science', 'computer': 'computer', 'total': 'total'},tablefmt="grid")
print(student_tabulate)

+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| stdid   | stdname        | standard   |   age |   hindi |   english |   math |   science |   computer |   total |
+=========+================+============+=======+=========+===========+========+===========+============+=========+
| sid101  | ashish kumar   | 10th       |    15 |      67 |        89 |     87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid102  | abhishek kumar | 10th       |    14 |      85 |        45 |     48 |        90 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid103  | aman           | 10th       |    15 |      23 |        56 |     78 |        78 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid104  | rahul          | 10th       |    14 |      45 |        67 |     45 |        45 |         56 |     258 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid105  | ruby           | 10th       |    13 |      89 |        67 |     89 |        93 |         65 |     403 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid106  | suman          | 10th       |    13 |      90 |        46 |     67 |        67 |         67 |     337 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid107  | saurabh        | 10th       |    15 |      45 |        23 |     34 |        45 |         34 |     181 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid108  | sumit          | 10th       |    14 |      23 |        45 |     67 |        78 |         90 |     303 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid109  | kamlesh        | 10th       |    15 |      45 |        56 |     78 |        99 |         67 |     345 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+
| sid110  | rohan          | 10th       |    15 |      34 |        12 |     24 |        45 |         56 |     171 |
+---------+----------------+------------+-------+---------+-----------+--------+-----------+------------+---------+

In [12]:
# display the name of students whose marks in english is greather than 50
for i,j in student.items():  
     if(j['english']>50):
         print(j['sidname'])

ashish kumar
aman
rahul
ruby
kamlesh

In [14]:
# display students name and age of top four scorer of maths
sorts = sorted(student.values(), key=lambda student: student['math'], reverse=True)
four=sorts[:4]
print('name','age')
for i in four :
    print(i['sidname'], i['age'])

name age
ruby 13
ashish kumar 15
aman 15
kamlesh 15

In [16]:
# display name id age of student who are bottom three scorer computer
sorts = sorted(student.values(), key=lambda student: student['computer'])
four=sorts[:3]
print('id ','name ','age ')
for i in four :
    print(i['stdid'],i['sidname'],i['age'])

id  name  age
sid107 saurabh 15
sid102 abhishek kumar 14
sid104 rahul 14