In [1]:
##creating set
Months={"January","Febrary","March","April","May","June"}
print (Months)

{'March', 'May', 'January', 'April', 'Febrary', 'June'}

In [5]:
##adding element in set
Months.add("August")
print(Months)

{'March', 'August', 'May', 'January', 'April', 'Febrary', 'June'}

In [13]:
##update string in set
Months.update(["July","August","September","October"])
print(Months)

{'c', 'March', 'May', 'g', 'S', 'O', 'October', 'l', 't', 'u', 'J', 'b', 'r', 'Febrary', 'o', 'July', 'September', 'August', 'p', 'January', 'April', 'y', 'm', 's', 'e', 'A', 'June'}

In [15]:
Months.discard("dec")
print(Months)

{'c', 'March', 'May', 'g', 'S', 'O', 'October', 'l', 't', 'u', 'J', 'b', 'r', 'Febrary', 'o', 'July', 'September', 'August', 'p', 'January', 'April', 'y', 'm', 's', 'e', 'A', 'June'}

In [19]:
months.remove("dec")
print(Months)

NameError: name 'months' is not defined

In [23]:
#string
name="tanu"
print (name)

tanu

In [31]:
name+"yadav"
print(name)

tanuyadav

In [33]:
name="tanu yadav"
print(name)
print("name[2:4]",name[2:4])

tanu yadav
name[2:4] nu

In [35]:
print("name[5:9]",name[5:9])

name[5:9] yada

In [37]:
print("name[:15]",name[:15])

name[:15] tanu yadav

In [39]:
print("name[2:]",name[2:])

name[2:] nu yadav

In [41]:
print("name[:]",name[:])

name[:] tanu yadav

In [43]:
print("name[0:17:3]",name[0:17:3])

name[0:17:3] tuav

In [45]:
print("name[::]",name[::])

name[::] tanu yadav

In [47]:
print("name[::-1]",name[::-1])

name[::-1] vaday unat

In [49]:
str=""rahul"
del str[1]

SyntaxError: unterminated string literal (detected at line 1) (805277270.py, line 1)

In [51]:

del(str)
print(str)

NameError: name 'str' is not defined

In [53]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
print(x is y)
##is opertor check reference

True
False

In [57]:
##capatalize() convert first letter into the capital letter
str="tanu yadav"
print(str)
print(id(str))
str=str.capitalize()
print(str)
print(id(str))

tanu yadav
2791004061040
Tanu yadav
2791004052272

In [59]:
##center()  method alligns string to the center by filling padding left and right of the string.
str="tanu yadav"
print(str)
str=str.center(20)
print(str)

tanu yadav
     tanu yadav

In [66]:
##the center has two parameters , first is a width and second is a fillchar which is optional. 
str="tanu yadav"
print(str)
str=str.center(20,'*')
print(str)

tanu yadav
*****tanu yadav*****

In [6]:
##count() method return the no of occurence of the value which we want to count
str="second start index and third"
oc=str.count('a')
print(oc)

2

In [10]:
##count() method has three parameters , first is substring , second is start index and third is end index.Start and end index both are optional.
str="second start index and third"
oc=str.count('a',8,16)
print(oc)

1

In [16]:
## endwith() method to check our string 
str="second start index and third."
isends = str.endswith(".")
print(isends)

True

In [18]:
str="second start index and third."
isends = str.endswith(".",0,6)
print(isends)

False

In [20]:
#find() method finds substring in the whole string and return index of the first match. 
str1="welcome to my class"
str2=str1.find("t")
print(str2)

8

In [22]:
#find() method has three parameters, first is substring , second is start index and third is end index.Start and end index both are optional.Return -1 if value not found
str1="welcome to my class"
str2=str1.find("t",9,13)
print(str2)

-1

In [24]:
# index method  is same as the find method() but it return error if value is not found.
str1="welcome to my class"
str2=str1.index("z")
print(str2)

ValueError: substring not found

In [26]:
#index() method has three parameters, first is substring , second is start index and third is end index.Start and end index both are optional.Return -1 if value not found
str1="welcome to my class"
str2=str1.index("t",2,20)
print(str2)

8

In [30]:
#isalnum() mrthod checks whelther the all characters of the string is alphanumeric or not. 
str1="welcome to my class"
str2=str1.isalnum()
print(str2)

False

In [32]:
## the whole string is either numeric or alphabet
str1="welcomtomyclass"
str2=str1.isalnum()
print(str2)

True

In [34]:
#isalpha() Method return true if all characters in the string are alphabetic. It return false if the character is not alphabetic. 
str1="welcomtomyclass"
str2=str1.isalpha()
print(str2)

True

In [36]:
#isnum() Method return true if all characters in the string are numeric. It return false if the character is not alphabetic. 
str1="1333456677888"
str2=str1.isalpha()
print(str2)

False

In [38]:
#islower() method return true if all characters in the string is of lowercase.
str1="welcomtomyclass"
str2=str1.islower()
print(str2)

True

In [41]:
#isupper() method return true if all characters in the string is of uppercase.
str1="WELCOMEGUYS"
str2=str1.isupper()
print(str2)

True

In [43]:
#lower() method convert string into lowercase
str1="WELCOMEGUYS"
str2=str1.lower()
print(str2)

welcomeguys

In [45]:
#upper() method convert string into lowercase
str1="welcomeguysS"
str2=str1.upper()
print(str2)

WELCOMEGUYSS

In [47]:
#lstrip() method is used to remove all leading charcter from the string.
str1="-------------------welcomeguysS---------------------------------"
str2=str1.lstrip('-')
print(str2)

welcomeguysS---------------------------------

In [49]:
#rstrip() method is used to remove all trailing charcter from the string.
str1="-------------------welcomeguysS---------------------------------"
str2=str1.rstrip('-')
print(str2)

-------------------welcomeguysS

In [51]:
#strip() method is used to remove both from the leading and trailing character from the string.
str1="-------------------welcomeguysS---------------------------------"
str2=str1.strip('-')
print(str2)

welcomeguysS

In [53]:
#replace method is used to replace the charcter from old charcter to new charcter.
str="java is programming language"
str2=str.replace('java','c')
print(str2)

c is programming language

In [55]:
#swapcase() is used to swap uppercase into lowercase and lowercase into uppercase.
str="JAVA is PROGramming language"
str2=str.swapcase()
print(str2)

java IS progRAMMING LANGUAGE

In [57]:
#title() is used to capatilize every first word of the string
str="java is proramming language"
str2=str.title()
print(str2)

Java Is Proramming Language